body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 0 auto;
    border: solid black;
    box-shadow: -5px 25px 31px black;
    width: 800px;
    background-color: white;
    
}

header{
    margin-top: 0px;
    border-bottom: solid black;
    background: linear-gradient(45deg, orange, black);
    
}

html{
        background-image: url(../images/bats.gif);
}

h1{
    font-size: 2.6em;
    text-indent: 50px;
    margin: 0px;
}

a:link{
    color: orange;
    font-weight: bold;
}

a:active,
a:visited {
    color: orange;
}

.links{
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    width: 180px;
    height: 600px;
    float: left;
}
nav navigation a.stuff{
    color: orange;
}

a.sidenav:link, a.sidenav:visited{
    display:block;
    border: solid black;
    width: 140px;
    font-weight:bold;
    color:black;
    background-color: orange;
    padding: 4px;
    text-decoration: none;
    white-space: nowrap;
}
a.stuff{
    color:orange;
}

.navigation{
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    width: 800px;
    background-color: black;

}

.bar{
    float: left;
    
}



a.stuff:link, a.stuff:visited{
    display:block;
    width: 140px;
    font-weight:bold;
    color:white;
    background-color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    white-space: nowrap;
}

a.stuff:hover, a.stuff:active{
    background-color: gray;
}




.Welcome::first-letter{
    font-size: 175%;
}

h3{
    font-size: 1.4em;
    text-indent: 50px;
}

.Welcome{
    font-size: 2em;
    
}
.pumpkin{
    float: left;
}


a:hover{
    color: green;
}

li{
    margin: .3em;
    color: black;
}
footer{
    font-size: .8em;
    text-align: center;
    border-top: solid black;
    height: 50px;
    padding-top: 15px;
    background: linear-gradient(45deg, black, orange);
    clear: both;
}



